.container-fluid {
    background-color: #f8f9fa;
  }
  
  .border-5 {
    border-radius: 15px;
  }
  
  .col-md-6 {
    margin: auto;
    margin-top: 30px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .btn-outline-success {
    background-color: #28a745;
    color: #fff;
    border: 2px solid #28a745;
  }
  
  .btn-outline-success:hover {
    background-color: #218838;
    border: 2px solid #218838;
  }
  
  /* Add more styles based on your design preferences */
  